main {
    .output_screen {
        text-align: right;
        overflow-wrap: break-word;
        width: 23vw;
        height: 30vh;
        background-color: rgb(35, 33, 33);
        border-radius: 10px;
        border: 2px solid black;

        h1 {
            color: white;
            padding-right: 15px;
        }

        h2 {
            color: white;
            padding-right: 15px;
        }
    }
}