main {
    .output_screen {
        text-align: right;
        overflow-wrap: break-word;
        width: 23vw;
        height: 30vh;
        background-color: rgb(55, 53, 53);
        border-radius: 10px;
        border: 2px solid black;

        h1 {
            color: #fff;
            text-shadow:
                0 0 10px #fff,
                0 0 10px #0fa;    
            padding-right: 15px;
            overflow-wrap: break-word;
            font-size: 43px;
            font-weight: bold;
            margin-top: 15px;
        }

        h2 {
            color: #fff;
            text-shadow:
                0 0 10px #fff,
                0 0 10px #0fa;
            font-weight: bold;
            font-size: 30px;
            padding-right: 15px;
            margin-bottom: 15px;
        }
    }
}