@use 'input';

body {
    display: flex;
    justify-content: center;
}

.calc_grid {
    width: 40%;
    height: 60%;
    justify-content: center;
    border: 2px solid black;
}

main {
    .output_screen {
        width: 100%;
        height: 30%;
        border: 2px solid black;
    }
}


