@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.input_buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 80px;
  align-items: center;
  align-content: center;
  justify-items: center;
  background-color: #d5d5d5;
  border-radius: 10px;
  width: 23vw;
  height: 50vh;
}

.calc_grid button {
  font-family: "Roboto", "sans-serif";
  width: 75%;
  height: 75%;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  font-size: 20px;
}
.calc_grid button:hover {
  cursor: pointer;
  background-color: #8a8888;
}

#clear {
  font-family: "Roboto", "sans-serif";
  grid-column: span 2;
  width: 90%;
}

#equals {
  font-family: "Roboto", "sans-serif";
  grid-column: span 2;
  width: 90%;
}

main .output_screen {
  text-align: right;
  overflow-wrap: break-word;
  width: 23vw;
  height: 30vh;
  background-color: #373535;
  border-radius: 10px;
  border: 2px solid black;
}
main .output_screen h1 {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 10px #0fa;
  padding-right: 15px;
  overflow-wrap: break-word;
  font-size: 43px;
  font-weight: bold;
  margin-top: 15px;
}
main .output_screen h2 {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 10px #0fa;
  font-weight: bold;
  font-size: 30px;
  padding-right: 15px;
  margin-bottom: 15px;
}

* {
  font-family: "Roboto", "sans-serif";
}

body {
  background-color: #747474;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.calc_grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  height: 85vh;
  border: 2px solid grey;
  background-color: black;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 10px 10px black;
}

@media screen and (max-width: 1350px) {
  .input_buttons {
    grid-auto-rows: 60px;
  }

  main .output_screen h1 {
    font-size: 30px;
  }
  main .output_screen h2 {
    font-size: 23px;
  }
}
@media screen and (max-width: 1030px) {
  .calc_grid {
    width: 30%;
  }

  main .output_screen {
    width: 26vw;
  }

  .input_buttons {
    width: 26vw;
    height: 50vh;
  }
}
@media screen and (max-width: 1000px) {
  .calc_grid {
    width: 30%;
  }

  main .output_screen {
    width: 26vw;
  }

  .input_buttons {
    width: 26vw;
    height: 50vh;
  }
}
@media screen and (max-width: 920px) {
  .calc_grid {
    width: 35%;
  }

  main .output_screen {
    width: 30vw;
  }

  .input_buttons {
    width: 30vw;
    height: 50vh;
  }
}
@media screen and (max-width: 800px) {
  .calc_grid {
    width: 40%;
  }

  main .output_screen {
    width: 35vw;
  }

  .input_buttons {
    width: 35vw;
    height: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .calc_grid {
    width: 45%;
  }

  main .output_screen {
    width: 40vw;
  }

  .input_buttons {
    width: 40vw;
    height: 50vh;
  }
}
@media screen and (max-width: 620px) {
  .calc_grid {
    width: 55%;
  }

  main .output_screen {
    width: 50vw;
  }

  .input_buttons {
    width: 50vw;
    height: 50vh;
  }
}
@media screen and (max-width: 520px) {
  .calc_grid {
    width: 60%;
  }

  main .output_screen {
    width: 55vw;
  }

  .input_buttons {
    width: 55vw;
    height: 50vh;
  }
}
@media screen and (max-width: 390px) {
  .calc_grid {
    width: 90%;
  }

  main .output_screen {
    width: 70vw;
  }
  main .input_buttons {
    width: 75vw;
    height: 50vh;
    grid-auto-rows: 80px;
  }

  .calc_grid button {
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 376px) {
  main .input_buttons {
    width: 75vw;
    height: 50vh;
    grid-auto-rows: 60px;
  }

  .calc_grid button {
    width: 90%;
    height: 90%;
  }
}