.input_buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 5px;
}

button {
  width: 40px;
  height: 30px;
}

body {
  display: flex;
  justify-content: center;
}

.calc_grid {
  width: 35vw;
  height: 60%;
  justify-content: center;
  border: 2px solid black;
}

main .output_screen {
  width: 35vw;
  height: 30vh;
  border: 2px solid black;
}